<!doctype html>
<html>

<head>
    <title>Chat Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="credentials-container">
        <h1>Connect to Your LLM</h1>
        <form method="post" id="login-form">
            <label>API Key: <input type="text" name="api_key" required></label><br>
            <label>Base URL: <input type="text" name="base_url" placeholder="e.g.: https://api.openai.com/v1"
                    required></label><br>
            <label>Model Name: <input type="text" name="language_model" required><span
                    style="color: yellow; font-size: 12px;">Recommended: Use a small language model due to high token
                    usage and task simplicity.</span></label><br>
            <button type="submit">Connect</button>
        </form>
    </div>
</body>

</html>